*.cbun
*.o
build
.DS_Store
**/.DS_Store

logged_data
deploy*.sh


*.iml
/frontend/.gradle
/frontent/local.properties
/frontend/.idea/caches
/frontend/.idea/libraries
/frontend/.idea/modules.xml
/frontend/.idea/workspace.xml
/frontend/.idea/navEditor.xml
/frontend/.idea/assetWizardSettings.xml
.DS_Store
/frontend/build
/captures
.externalNativeBuild
.cxx
/frontend/local.properties
*.cbun
/build

